name: Terraform RDS Deploy

on:
  push:
    branches:
      - main
      - homologation
      - 'feature/**'

jobs:
  deploy:
    name: Deploy ${{ github.ref_name }}
    runs-on: ubuntu-latest

    environment:
      name: ${{ github.ref_name == 'main' && 'production' || github.ref_name }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init and Apply
        run: |
          if [ "${{ github.ref_name }}" == "main" ]; then
            ENV_DIR="production"
          else
            ENV_DIR="${{ github.ref_name }}"
          fi
          
          echo "Efetuando deploy no ambiente: $ENV_DIR"
          
          cd envs/$ENV_DIR
          terraform init
          terraform apply -auto-approve
        env:
          TF_VAR_db_user: ${{ secrets.DB_USER }}
          TF_VAR_db_password: ${{ secrets.DB_PASSWORD }}
          TF_VAR_db_name: ${{ secrets.DB_NAME }}